---
resources:
   version: {{ nutanix_deploy_pc_version }}
   should_auto_register: {{ nutanix_deploy_pc_auto_register }}
   pc_vm_list:
   - vm_name: {{ nutanix_deploy_pc_vm_name }}
     container_uuid:  {{ nutanix_deploy_pc_container_uuid }}
     num_sockets: {{ nutanix_deploy_pc_num_sockets }}
     data_disk_size_bytes: {{ nutanix_deploy_pc_data_disk_size | human_to_bytes }}
     memory_size_bytes: {{ nutanix_deploy_pc_memory_size | human_to_bytes }}
     dns_server_ip_list: {{ nutanix_deploy_pc_dns_list }}
     nic_list:
     - ip_list:
       - {{ nutanix_deploy_pc_ip_address }}
       network_configuration:
         network_uuid: {{ nutanix_deploy_pc_network_uuid }}
         subnet_mask: {{ nutanix_deploy_pc_network_address | ansible.utils.ipaddr('netmask')}}
         default_gateway: {{ nutanix_deploy_pc_gateway }}
